* {
    box-sizing: border-box;
    background-color: gainsboro;
}

body {
    width: 75%;
}

[class*="col-"] {
    width: 100%;
}

[class*="col-"] {
    padding: 10px;
    padding-right: 10px;
}

.app_box::after {
    content: '';
    clear: both;
    display: table;
}

.app_box {
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: 20px;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px 3px slategray;
    border-radius: 20px;
}

.app_box2 {
    margin-top: 100px;
    margin-left: 65px;
}

.C_Head {
    display: block;
    position: relative;
    top: 40px;
    left: 120px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

.t1 {
    text-align: center;
    border-radius: 50px;
    background-color: wheat;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.t2 {
    text-align: center;
    border-radius: 50px;
    background-color: wheat;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 60px;
}

button {
    border-radius: 20px;
    width: 80px;
    height: 30px;
    font-family: 'Lucida Sans Regular';
    font-size: 15px;
    font-weight: bold;
    background-color: cornflowerblue
}

select {
    border-radius: 20px;
    background-color: cyan;
    font-weight: bold;
    border-color: darkblue;
}

option {
    font-weight: bold;
}

.buttons::after {
    content: '';
    clear: both;
    display: flex;
}